/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0px;
    padding: 0px;
}

.container
{
   color:#fff;
   height:100vh;
   overflow: hidden;
   font-family:'Montserrat';
}

.navbar{
    padding:20px 100px 20px 70px;
    
    background-color: black; 
    display: flex;
    align-items: center;

    
   
}

.navbar div img{
    
     width:100px; 
}

.line{
    border:1px solid white;
    height: 30px;
    
    margin-left: 45px;
    

}

.grow-list{
    margin-left: 70px;
    
    
    
}
.list{
    display:flex;
    list-style-type: none;
    gap:70px;

}

.button-small{
    background-color: #8D3DAF;
    color:white;
    position:absolute;
    right:200px;
    padding:5px 10px;
    font-weight:100;
    
}

.hero{
    
     background-image: url(./assets/bg.png); 
    background-size: cover;
    height:84vh;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
      
     padding-top: 90px;
    padding-left: 375px;
    
    
}

.hero-heading{
    
    width:825px;
    height:200px;
    font-size:60px;
    text-align: center;

    
   
   
}

.hero-description{
    
    margin-left: 135px;
    font-size: 22px;
    margin-top: -30px;
    
}

.button-large{
    background-color: #8D3DAF;
    color:#fff;
    padding:15px 25px;
    margin-top: 60px;
    margin-left: 275px;
    border-radius: 5px;
    border: none;
}

.navbar .grow-list .list > :first-child::after {
    content: "\0002C7";
    font-size:1.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  position:relative;
  top:10px;
  left:3px;


    
    
   


}