*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding-left:200px;
    padding-right: 200px;
   
    
    
    background-color: #4b3d07;
    color: #fff;
    overflow: hidden;
   
}
nav{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:15vh;
    margin-bottom: 50px;
   
}
ul{
    display: flex;
    gap:50px;
}
nav ul li{
    list-style: none;
   

}
button{
    background-color: transparent;
    border:1px solid yellow;
    color:yellow;
    border-radius: 5px;
    padding: 10px 20px;

}
main{
    display:flex;
     margin-bottom: 50px;
    
  
    
   
}
.left{
    
    
    width:60%;
    
    
    
}
.left h1{
    font-size:65px;
   



}
.right{
    
    right:50%;
    
    margin-left: 50px;
}
.right p{
    margin-top: 25px;
    width:50%;
   
    
}
section img{
    width:100%;
    background-position: center;
   

}
